* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.player-card {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px;
    width: 25%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.player-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.player-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.player-info h1 {
    font-size: 3rem;
}

#titans-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50rem;
    z-index: -10;
}
