* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.player-card {
    position: relative;
    padding: 20px;
    /* border: 1px solid #002C63; */
    border-radius: 10px;
    margin: 10px;
    width: 25%;
    background-color: white;
    color: #002C63;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.player-card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.player-image {
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.player-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.player-position-wrapper {
    background-color: white;
    color: #002C63;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playerPosition {

}

#playerNumber {

}


.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info h1 {
    font-size: 2vw;
    font-weight: 800;
    margin-top: 5px;
}

.player-info h2 {
    font-size: 3vw;
    font-weight: 900;
    color: white;
    margin-top: -8rem;
}

.player-info p {
    font-size: 1.75vw;
}

#titans-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50rem;
    z-index: -10;
}

#titanslogosmall {
    height: auto;
    width: 4vw;
}

.player-stats h2 {
    font-size: 1.5vw;
    margin-top: -20px;
}

.player-stats p {
    font-size: 1vw;
}

.player-stats-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.player-stats-wrapper img {
    height: auto;
    width: 75px;
    opacity: 0.5;
}
