* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#login-page-content {
    height: 100vh;
    width: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-page-content .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#login-page-content .login-form input {
    width: 30vw;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #002C63;
}

.login-form label {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #002C63;
}

#login-page-content h1 {
    font-size: 8rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #002C63;
}

#login-page-content h2 {
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #002C63;
    margin-top: -2rem;
}

#login-page-content button {
    background-color: #002C63;
    color: white;
    width: 30vw;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}